
/* Card styles */
.user-img {
    min-width: 20px;
    min-height: 20px;
    width: 65px;
    height: 65px;
    padding: 10px;
}

.card {
    margin-bottom: 30px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);

    .main-img {
        width: 100%;
    }
}

.card-menu {
    margin-top: 12px;
    margin-right: 12px;
    border: none;
    font-size: 1.4em;

    &:focus {
        outline: none!important;
    }
}