
/* Card styles */
.user-img {
    width: 65px;
    height: 65px;
    padding: 10px;
}

.card {
    margin-bottom: 30px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);

    .main-img {
        width: 100%;
    }
}